@model Project.WebMVC.ViewModels.AuthorizeViewModel

<form asp-action="SignInCode" method="post">
    <div>
        <label asp-for="Login"></label>
        <input type="text" asp-for="Login">
    </div>
    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password">
    </div>
    <div>
        <input asp-for="ClientId" value="@Model.ClientId" hidden="hidden">
        <input asp-for="RedirectUri" value="@Model.RedirectUri" hidden="hidden">
        <input asp-for="State" value="@Model.State" hidden="hidden">
        <input asp-for="CodeChallenge" value="@Model.CodeChallenge" hidden="hidden">
        <input asp-for="CodeChallengeMethod" value="@Model.CodeChallengeMethod" hidden="hidden">
    </div>
    <button type="submit">Submit</button>
</form>

